@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h2 class="display-4">Contact Details</h2>
    <dl>
        <dt>Name:</dt>
        <dd>Sirisha Tadepalli</dd>
        <dt> Email Id:</dt>
        <dd>sirisha11.e@gmail.com</dd>
        <dt>Email Id:</dt>
        <dd>sirisha11.e@gmail.com</dd>
          
    </dl>
</div>