@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About Me - Sirisha Tadepalli</h1>
    <p>
        Jag heter Sirisha Tadepalli. Jag har 5 år erfarenhet inom olika område som undervisning, Chef, logistik avdelningen. Mina starka sidor är att jag har sympatisk attityd, snabba beslut, integritet, tålamod, formell auktoritet, ledarskap, socialt ansvar, god kommunikationsförmåga.
        Efter min Kandidatexamen på BIFT, India universitetet arbetade jag på företaget Jeena Logistics & Co,India hos vilka  jag lärde mig att sköta Logistik - Marknadsföring och operations. Vi arbetade med marknadsföring vilket jag idag kan applicera i tjänsten hos er.
        Jag har arbetat som Personalchef - YQ Soft Labs Pvt Ltd, India. De senaste 3 åren. Min erfarenhet av rekrytering, screening och urval och personalledning kommer att vara värdefull om jag får förtroendet att arbeta på ert företag. Jag är van vid att fatta snabba beslut och ta ansvar för att mitt arbete utförs exemplariskt och noggrant.

        Min bakgrund från olika branscher och möten med olika kulturer har gett mig bred kunskap för att leda positiv miljö och vara motiverad. Jag uppskattar att arbeta i ett företag, vilket jag uppfattar som ett företag är.

        Jag är en väldigt flexibel person som har lätt för att arbeta med ledning och anpassningsbar och gör alltid mitt jobb med den största inspirationen. Jag hör ofta att jag är en lyhörd och hängiven person till jobbet. På min fritid engagerar jag mig med min familj och vänner, surfar på internet och leker med mina barn.
    </p>
   
</div>
