@{
    ViewData["Title"] = "Projects List";
}

<div class="text-center">
    <h2 class="display-4">List of the Project names in GitHub</h2>
    <dl>
        <dt><a href="">hrefsirisha255/WatchingEye</a></dt>
        <dd>HTML/Css/Js</dd>
        <dt> sirisha255/DigitalTodoList</dt>
        

    </dl>
