@{
    ViewData["Title"] = "Contact";
}
<div class="text-center">
    <h1 class="display-4">Contact Details</h1>
    
    <ul>
        <li>Email Id : sirisha11.e@gmail.com</li>
        <li><a href="https://www.linkedin.com/in/sirisha-tadepalli-7a0a261b/">Linkedin Profile</a></li>
        <li>Contact Number : 0123456789</li>




    </ul>
    </div>