@{
    ViewData["Title"] = "FeverCheck";
}

<div class="container">
    <h2>Doctor IOT checking out you temperature</h2>
    <div class="wrapper">

        <h3>Fever Check</h3>
        <form asp-action="FeverCheck" asp-controller="Doctor" method="post">

            <input type="number" name="temp" value="" placeholder="Enter your body temperature" min="0" max="100" step="1" />
            <button type="submit">Submit</button>

            <p>
                @if (ViewBag.Msg != null)
                {
                    @ViewBag.Msg
                }
            </p>
        </form>
    </div>
</div>

